<div class="container vh-100">
  <div class="row">
    <div class="col-md-6 mx-auto mt-3">
      <div class="card" *ngIf="!emptyProduct(); else loader">
        <img class="card-img-top image" [src]="product.image" alt="{{product.name}}">
        <div class="card-body">
          <h4 class="card-title">{{product.name}}</h4>
          <ul class="list-group">
            <li class="list-group-item ">Precio: {{product.price}}</li>
            <li class="list-group-item">Descripción: {{product.description}}</li>
            <li class="list-group-item ">Cantidad: {{product.quantity}}</li>
          </ul>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <a class="btn btn-info" routerLink="/">Regresar</a>
          <a class="btn btn-warning" [routerLink]="['/view', 2, product.id]">Editar</a>
        </div>
      </div>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
      
    </div>
  </div>
</div>